@keyframes appear {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

@keyframes popUp {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes modalPopup {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
