@import "global";
@import "fonts";
@import "variables";
@import "animations";
@import "mixins";

.modal-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightblue;
  border-radius: 5px;
  width: 60%;
  height: 60%;
  top: 10%;
  animation: modalPopup 0.2s ease-out;
}

input[type="submit"] {
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  background-color: coral;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

input[type="submit"]:hover {
  background-color: darkolivegreen;
  color: black;
}

p {
  font-size: 16px;
  color: #424242;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
}

.alert-error__container,
.alert-success__container {
  @include alert-container;
}

.alert-error__backdrop,
.alert-success__backdrop {
  @include backdrop-window;
}

.alert-error__modal {
  @include alert-modal;
  width: 25em;

  background-color: $danger-color;
}

.alert-success__modal {
  @include alert-modal;
  width: 25em;
  background-color: white;
}

.alert-success__modal--text {
  @include alert-text;
  color: $date-color;
}

.alert-error__modal--text {
  @include alert-text;
  color: white;
}

.alert-error__modal--btn,
.alert-success__modal--btn {
  @include alert-btn;
}
