@import 'global';
@import 'fonts';
@import 'variables';

.full-calendar__content td {
	z-index: -1;
	width: .3rem;
	height: .5rem;
	border-radius: unset;
}

.full-calendar__content {
	width: 100%;
	height: 100%;
	position: relative;
	top: 1em;
}

.full-calendar__content .day-text,
.full-calendar__content .day-block {
	font-size: 14px;
}

.full-calendar__table th {
	height: 1rem;
	font-size: 12px;
}

.full-calendar__content .curr-day {
	color: $hot-pink;
	border: none;
	border-bottom: 2px solid $hot-pink;
}

.month-cell__layer {
	position: relative;
	width: 100%;
	height: 100%;
	top: -1.5rem;
	background-color: rgba(0, 0, 0, 0);
	z-index: 10;
}

.full-calendar__table {
	position: relative;
	top: -14rem;
	background-color: ghostwhite;
	border-radius: 10px;
}

.months-modal__heading {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background: $main-graph;
	border-radius: 5px;
	padding: 6px 20px;
}

.previous-year,
.next-year {
	position: fixed;
	background-color: $main-graph;
	height: 100vh;
	width: 8rem;
	box-shadow: 0 0 8px 5px #3b3b3b;
	text-align: center;
	z-index: 10;
}

.previous-year {
	left: 0;
}

.next-year {
	right: 0;
}

.previous-year:hover,
.next-year:hover {
	cursor: pointer;
	background-color: $soft-blue;
}

.previous-year span,
.next-year span {
	color: white;
	position: relative;
	font-size: 2rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	top: 50%;
}
