$main-blue: #3498db;
$hot-pink: #e92b54;
$curr-day: #00a2ff;
$main-graph: #596275;
$soft-blue: #778beb;
$shadow-color: rgba(39, 39, 39, 0.5);
$danger-color: #f14851;
$modal-backdrop: rgba(0, 0, 0, 0.5);
$bottom-shadow: 0 4px 3px -2px gray;
$modal-shadow: 0 5px 5px -2px #272727;
$block-hover: #dff3ff;
$sub-text: #2e3c46;
$date-color: #30343f;

$digits: 'Abel', 'sans-serif';
$days: 'Oswald', 'sans-serif';
$head-text: 'Oxygen', 'sans-serif';
$error-text: 'Ubuntu', 'sans-serif';
$main-text: 'Open Sans', 'sans-serif';
